body{
    text-align: center;
    
}

#board{
    border: 1px solid rgb(37, 35, 35);
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
#board img{
    width: 78px;
    height: 79px;
    border: 0.5px solid white;
}

#board2{
    width: 1041px;
    height: 160px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
#board2 img{
    /* width: 80px; */
    width: 78px;
    height: 78px;
    border: 0.5px solid lightblue;
}