@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'EB Garamond', serif;

}
.main{
    width: 100%;
    height: 100%;

}
.nav{
    padding:  3rem 7rem 0 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.nav .left{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.nav .left h4{
    font-size: 1rem;
    padding-right: 1.2rem;
}

.nav .left p{
    font-size: 1.1rem;
    font-style: italic;
}

.nav .right h4{
    font-size: 1.1rem;
    padding-right: 1.2rem;
    
}
.nav .right p{
    font-size: 0.8rem;
}
.intro{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro .hero{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 8rem 1rem 0 7rem;
   
}

.intro .hero .about{
    width: 50%;
    
}

.intro .hero .img{
    width: 40%;
    
    
    
}
.img img{
    width: 90%;
}
.slider{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: dimgray;
    transform: translateY(100%);
    top: 0;
    left: 0;
}